@font-face {
  font-family: "minecraft";
  src: url("font/MinecraftStandard.otf") format("truetype");
}
@font-face {
  font-family: "Pixeled";
  src: url("font/Pixeled.ttf") format("truetype");
}

html {
  width: 100%;
}

body {
  font-family: "minecraft", sans-serif;
  background: #111;
  padding: 40px;
  color: #f2c90a;
  overflow-x: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.audio-player {
  width: 100%;
  border-radius: 0px;
  padding: 5px;
  font-family: "minecraft", sans-serif;
}

.audio-player {
  width: 400px;
  border: 1px solid red;
  margin: 20px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-top: 10px;
}

.controls img {
  cursor: pointer;
  width: 52px;
}

.controls-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.progress {
  height: 22px;
  background-color: #665;
  margin-top: 10px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #f2c90a;
}

#current-time,
#total-time {
  margin-top: 10px;
  width: 100px;
}

#total-time {
  text-align: right;
}

#volume-control {
  width: 300px;
  margin: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  background: #665;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #f2c90a;
  cursor: pointer;
  margin-top: -1px;
  border: 2px solid #111;
}

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #f2c90a;
  cursor: pointer;
}

.time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

#volume-control-container {
  margin-left: -10px;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal {
  width: 70%;
  height: 70%;
  background: #111;
  z-index: 20;
  position: fixed;
  padding: 40px;
  font-size: 15px;
  line-height: 30px;
}

.modal b {
  font-size: 18px;
}

.modal a {
  color: #c1a316;
}

#close-button {
  cursor: pointer;
  width: 35px;
  float: right;
}

img {
  opacity: 1;
  transition: opacity 0.5s ease;
}

img:hover {
  opacity: 0.8;
}

#playlist {
  display: grid;
  column-gap: 80px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  list-style: none;
  counter-reset: list-counter;
  padding: 0;
  font-size: 15px;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

#playlist li {
  margin-bottom: 10px;
  cursor: pointer;
}

#playlist li:nth-child(odd) {
  grid-column: 1;
}

#playlist li:nth-child(even) {
  grid-column: 2;
}

#playlist li:hover {
  color: #c1a316;
}

.playlist-row {
  display: flex;
  justify-content: space-between;
}

.playlist-content {
  display: flex;
  gap: 8px;
}

#current-track {
  font-size: 20px;
  margin-top: 3px;
}

#github-button {
  margin-top: 8px;
}

.buttons-spacer {
  display: none;
}

@media screen and (max-width: 999px) {
  body {
    padding: 30px;
    width: 90% !important;
    margin: 0 auto;
    font-family: "minecraft", sans-serif;
  }

  .time-container {
    font-size: 21px;
  }

  .controls-buttons {
    gap: 4px;
  }

  #github-button {
    margin-top: 8px;
  }

  #current-track {
    font-size: 14px;
  }

  .modal {
    width: 80%;
    height: 80%;
    padding: 30px;
    font-size: 13px;
    line-height: 22px;
  }

  .modal b {
    font-size: 16px;
  }

  #playlist {
    list-style: none;
    padding: 0;
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    display: block !important;
  }

  #playlist li {
    margin-bottom: 10px;
    cursor: pointer;
    grid-column: auto !important;
  }

  #playlist li:nth-child(odd) {
    grid-column: 1 !important;
  }

  #playlist li:nth-child(even) {
    grid-column: 1;
  }

  .playlist-row {
    display: flex;
    justify-content: space-between;
  }

  #playlist li {
    display: block !important;
    grid-column: 1 !important;
  }

  #volume-control {
    width: 200%;
    margin: 20px;
  }

  #volume-control-container {
    margin-left: 0px;
    width: 50%;
    margin-top: 4px;
    float: left;
  }

  .controls-buttons {
    display: block;
    align-items: center;
    gap: 10px;
    clear: both;
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-top: 10px;
  }

  .progress {
    max-width: 100%;
  }

  .controls-buttons-right {
    margin-top: -80px;
    width: 130px !important;
    text-align: right;
  }

  #volume-button {
    float: left;
  }

  .buttons-spacer {
    clear: both;
    display: block;
    height: 22px;
  }
}
